* {
    margin: 0;
    padding: 0;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container {
    position: absolute;
    z-index: -1;
}

.big-hero {
    font-family: 'DM Mono', monospace;
    text-align: center;
    color: white;
}

main {
    font-family: 'Roboto', sans-serif;
}

.big-hero__title {
    font-size: 7rem;
}

.big-hero__subtitle {
    font-size: 3rem;
}

.big-hero h1 {
    letter-spacing: 25px;
}

.container-fluer {
    background-color: #6adcfa;
}


.vl {
    border-left: 2px solid #444444;
    margin-right: 20px;
    margin-left: -20px;
}

.card {
    display: block;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      transition: box-shadow .25s;
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    transition: all .25s ease;
  }
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }