* {
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  z-index: -1;
}

main {
  font-family: 'Roboto', sans-serif;
}

.big-hero {
  font-family: 'DM Mono', monospace;
  text-align: center;
  color: white;
}

.big-hero__subtitle {
  font-size: 2rem;
}

.big-hero__title {
  font-size: 7rem;
}

.big-hero__title h1 {
  letter-spacing: 25px;
}

.content {
  z-index: 1;
  position: absolute;
  color: white;
  margin-top: 17rem;
}

.content ul li {
  display: inline;
  margin-left: 30px;
  font-size: 2rem;
}

.content ul li a {
  color: white;
}

.content ul li a:link {
  text-decoration: none;
}

.project {
  min-height: 100vh;
  max-height: 100vh;
}

.project .section--title {
  margin: 30px 0 30px 0;
}

.project .section--title h1 {
  font-size: 2.9rem;
  text-transform: capitalize;
  font-weight: 550;
}

.resume {
  min-height: 100%;
  max-height: 100%;
  background-color: #f5e7e7;
}

.resume .shadow {
  -webkit-box-shadow: 3px 4px 16px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 16px -8px rgba(0, 0, 0, 0.75);
}

.resume .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .container .col-md-12 {
  padding: 0;
}

.resume__img img {
  width: 260px;
  margin: 30px;
}

.resume__header {
  background-color: white;
}

.resume__about {
  margin-top: 30px;
}

.resume__about h2 {
  font-weight: 600;
}

.resume__about h2 label {
  font-weight: 100;
}

.resume__about label {
  margin: 0;
}

.resume__about-list table {
  font-size: 0.9rem;
  width: 70%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.resume__sociamedia {
  height: 6rem;
  width: 100%;
  background-color: #db6666;
  text-align: center;
}

.resume__sociamedia .col-md-12 {
  margin: 2rem 0rem 2rem 0rem;
}

.resume__sociamedia .col-md-12 a {
  margin: 4rem;
  color: white;
  text-decoration: none;
}

.resume__sociamedia .col-md-12 a:hover {
  text-decoration: none;
  color: white;
}

.resume__skills {
  padding-top: 70px;
  margin: 0;
}

.resume__skills--body {
  background-color: white;
  padding: 20px;
}

.resume__skills--body .row {
  padding: 20px 0 10px 0;
}

.resume__skills--body .row:last-child {
  padding-bottom: 40px;
}

.resume__skills--body .row .col-md-6 .progress {
  height: 5px;
}

.resume__education {
  padding-top: 70px;
  margin: 0;
}

.resume__education--body {
  padding: 10px 20px 70px 20px;
  margin: 10px 0 0 0;
}

.resume__workexperience {
  margin: 0;
}

.resume__workexperience--body {
  padding: 10px 20px 70px 20px;
  margin: 10px 0 0 0;
}

.resume__interests {
  margin: 0;
}

.resume__interests--body {
  padding: 10px 20px 70px 20px;
  margin: 10px 0 0 0;
}

.resume__interests--body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.resume__interests--body .row .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.resume__interests--body .row .column .container {
  margin-top: 8px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  overflow: hidden;
}

.resume__interests--body .row .column .container:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.resume__interests--body .row .column .container img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.resume__interests--body .row .column .container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.resume__interests--body .row .column .overlay {
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.resume__interests--body .row .column .container:hover .overlay {
  opacity: 1;
}

.resume__interests--body .row .column .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 800px) {
  .resume__interests--body .row .column .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .resume__interests--body .row .column .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .resume__interests--body .row .column .column img {
    -webkit-filter: grayscale(0) brightness(1);
            filter: grayscale(0) brightness(1);
  }
}

.main-timeline {
  overflow: hidden;
  position: relative;
}

.main-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #d6d5d5;
  position: absolute;
  top: 0;
  left: 50%;
}

.main-timeline .timeline {
  padding-right: 30px;
  position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #d6d5d5;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: -3px;
}

.main-timeline .timeline:last-child:before {
  top: auto;
  bottom: 0;
}

.main-timeline .timeline-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #d6d5d5;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -4px;
}

.main-timeline .timeline-icon:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #737ab4;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .year {
  display: inline-block;
  padding: 8px 20px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  background: #737ab4;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-timeline .year:before {
  content: "";
  border-right: 18px solid #737ab4;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 0;
  left: -18px;
}

.main-timeline .timeline-content {
  width: 46.5%;
  padding: 43px 50px;
  margin: 0 20px 0 0;
  background: #f2f2f2;
  position: relative;
}

.main-timeline .timeline-content:after {
  content: "";
  border-left: 20px solid #f2f2f2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-timeline .title {
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #504f54;
  margin: 0 20px 20px 0;
}

.main-timeline .post {
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-top: 6px;
}

.main-timeline .description {
  font-size: 14px;
  color: #7d7b7b;
  line-height: 24px;
  margin: 0;
  clear: both;
}

.main-timeline .timeline:nth-child(2n) {
  padding: 0 0 0 30px;
}

.main-timeline .timeline:nth-child(2n) .year {
  right: auto;
  left: 35%;
}

.main-timeline .timeline:nth-child(2n) .year:before {
  border: 18px solid transparent;
  border-right: none;
  border-left: 18px solid #737ab4;
  left: auto;
  right: -18px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  float: right;
  margin: 0 0 20px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after {
  border-left: none;
  border-right: 20px solid #f2f2f2;
  right: auto;
  left: -20px;
}

@media only screen and (max-width: 1200px) {
  .main-timeline .year {
    right: 30%;
  }
  .main-timeline .timeline:nth-child(2n) .year {
    left: 30%;
  }
}

@media only screen and (max-width: 990px) {
  .main-timeline .year {
    right: 25%;
  }
  .main-timeline .timeline:nth-child(2n) .year {
    left: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    left: 10px;
  }
  .main-timeline .timeline {
    padding: 0 0 0 30px;
    margin-bottom: 20px;
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }
  .main-timeline .timeline:first-child:before,
  .main-timeline .timeline:last-child:before {
    display: none;
  }
  .main-timeline .timeline-icon {
    margin: 0;
    position: absolute;
    top: 7px;
    left: 0;
  }
  .main-timeline .year,
  .main-timeline .timeline:nth-child(2n) .year {
    display: block;
    font-weight: bold;
    margin: 0 0 32px 30px;
    z-index: 1;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    -webkit-transform: none;
            transform: none;
  }
  .main-timeline .timeline:nth-child(2n) .year:before {
    border-left: none;
    border-right: 18px solid #737ab4;
    right: auto;
    left: -18px;
  }
  .main-timeline .timeline-content {
    padding: 20px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: auto;
    float: none;
    margin: 0 0 0 30px;
  }
  .main-timeline .timeline-content:after,
  .main-timeline .timeline:nth-child(2n) .timeline-content:after {
    border: none;
    border-bottom: 20px solid #f2f2f2;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -20px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 480px) {
  .main-timeline .title {
    float: none;
    margin: 0;
  }
  .main-timeline .year,
  .main-timeline .timeline:nth-child(2n) .year {
    margin-left: 20px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    margin-left: 10px;
  }
  .main-timeline .post {
    margin: 5px 0;
  }
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 25px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 25px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 25px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 25px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 25px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 25px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 25px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 25px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

.vl {
  border-left: 0.1px solid #6e6e6e;
  margin-right: 20px;
  margin-left: -20px;
}

.section--title {
  text-align: center;
}

.section--title h2 {
  font-size: 30px;
  font-weight: 550;
}

.tiles {
  font-size: 0;
  text-align: center;
}

.tiles .tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.tiles .tile:before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.tiles .tile img {
  display: block;
  max-width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}

.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}

.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
  top: 50%;
}

.tiles .tile:focus span,
.tiles .tile:hover span {
  top: 0;
}

.tiles .tile:focus .title,
.tiles .tile:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.interests {
  max-height: 100vh;
  min-height: 100vh;
}

.interests__title h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
}
/*# sourceMappingURL=style.css.map */