* {
    margin: 0;
    padding: 0;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container {
    position: absolute;
    z-index: -1;
}

main {
    font-family: 'Roboto', sans-serif;
}

.big {

    &-hero {

        font-family: 'DM Mono', monospace;
        text-align: center;
        color: white;

        &__subtitle {
            font-size: 2rem;
        }

        &__title {
            font-size: 7rem;

            & h1 {
                letter-spacing: 25px;
            }
        }
    }
}

.content {
    z-index: 1;
    position: absolute;
    color: white;
    margin-top: 17rem;

    & ul li{
        display:inline;
        margin-left: 30px; 
        font-size: 2rem;

        & a {

            color: white;

            &:link {
                text-decoration: none;
            }
        }
    }
}
