.interests {
    max-height: 100vh;
    min-height: 100vh;
    
    &__title {
        
        & h1 {
            text-align: center;
            font-size: 3rem;
            margin: 3rem;
        }
    }
}