.project { 
    min-height: 100vh;
    max-height: 100vh;
 
    & .section--title {
        margin: 30px 0 30px 0;

        & h1 {
            font-size: 2.9rem;
            text-transform: capitalize;
            font-weight: 550;
        }
    }
    
}