.resume {
    min-height: 100%;
    max-height: 100%;
    background-color: #f5e7e7;

    & .shadow {
        box-shadow: 3px 4px 16px -8px rgba(0, 0, 0, 0.75);
    }

    & .container {
        padding-top: 30px;
        padding-bottom: 30px;

        & .col-md-12 {
            padding: 0;
        }

    }

    &__img img {
        width: 260px;
        margin: 30px;
    }

    &__header {
        background-color: white;
    }

    &__about {
        margin-top: 30px;

        & h2 {
            font-weight: 600;

            & label {
                font-weight: 100;
            }
        }

        & label {
            margin: 0;
        }

        &-list {

            & table {
                font-size: 0.9rem;
                width: 70%;
                border-collapse: separate;
                border-spacing: 0 15px;

            }
        }
    }

    &__sociamedia {
        height: 6rem;
        width: 100%;
        background-color: #db6666;
        text-align: center;

        & .col-md-12 {
            margin: 2rem 0rem 2rem 0rem;

            & a {

                margin: 4rem;
                color: white;
                text-decoration: none;

                &:hover {

                    text-decoration: none;
                    color: white;

                }
            }
        }


    }

    &__skills {
        padding-top: 70px;
        margin: 0;

        &--body {
            background-color: white;
            padding: 20px;

            & .row {

                padding: 20px 0 10px 0;

                &:last-child {
                    padding-bottom: 40px;
                }

                & .col-md-6 {

                    & .progress {
                        height: 5px;

                    }
                }
            }
        }
    }

    &__education {

        padding-top: 70px;
        margin: 0;

        &--body {
            padding: 10px 20px 70px 20px;
            margin: 10px 0 0 0;
        }
    }

    &__workexperience {

        margin: 0;

        &--body {
            padding: 10px 20px 70px 20px;
            margin: 10px 0 0 0;
        }
    }

    &__interests {
        margin: 0;

        &--body {
            padding: 10px 20px 70px 20px;
            margin: 10px 0 0 0;

            & .row {
                display: flex;
                flex-wrap: wrap;
                padding: 0 4px;

                & .column {

                    flex: 25%;
                    max-width: 33.3%;
                    padding: 0 4px;

                    .container {
                        margin-top: 8px;
                        padding: 0;
                        position: relative;
                        vertical-align: middle;
                        width: 100%;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.3s linear;
                        overflow: hidden;

                        &:hover {
                            filter: grayscale(1);
                        }

                        & img {

                            display: block;
                            height: auto;
                            width: 100%;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: 0.3s linear;
    
                           &:hover {
                            transform: scale(1.1);
                           }
                        }
                        

                    }

                    .overlay {

                        border-radius: 5px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;
                    }

                    .container:hover .overlay {
                        opacity: 1;
                    }

                    .text {
                        color: white;
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }

                    @media screen and (max-width: 800px) {
                        .column {
                            flex: 50%;
                            max-width: 50%;
                        }
                    }

                    @media screen and (max-width: 600px) {
                        .column {
                            flex: 100%;
                            max-width: 100%;
                        }

                        .column img {
                            filter: grayscale(0) brightness(1);
                        }
                    }
                }
            }
        }
    }
}

.main-timeline {
    overflow: hidden;
    position: relative;
}

.main-timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #d6d5d5;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline {
    padding-right: 30px;
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #d6d5d5;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
}

.main-timeline .timeline:last-child:before {
    top: auto;
    bottom: 0;
}

.main-timeline .timeline-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #d6d5d5;
    box-sizing: content-box;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -4px;
}

.main-timeline .timeline-icon:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #737ab4;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .year {
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: #737ab4;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
}

.main-timeline .year:before {
    content: "";
    border-right: 18px solid #737ab4;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -18px;
}

.main-timeline .timeline-content {
    width: 46.5%;
    padding: 43px 50px;
    margin: 0 20px 0 0;
    background: #f2f2f2;
    position: relative;
}

.main-timeline .timeline-content:after {
    content: "";
    border-left: 20px solid #f2f2f2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.main-timeline .title {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #504f54;
    margin: 0 20px 20px 0;
}

.main-timeline .post {
    display: inline-block;
    font-size: 14px;
    color: #999;
    margin-top: 6px;
}

.main-timeline .description {
    font-size: 14px;
    color: #7d7b7b;
    line-height: 24px;
    margin: 0;
    clear: both;
}

.main-timeline .timeline:nth-child(2n) {
    padding: 0 0 0 30px;
}

.main-timeline .timeline:nth-child(2n) .year {
    right: auto;
    left: 35%;
}

.main-timeline .timeline:nth-child(2n) .year:before {
    border: 18px solid transparent;
    border-right: none;
    border-left: 18px solid #737ab4;
    left: auto;
    right: -18px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    float: right;
    margin: 0 0 20px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after {
    border-left: none;
    border-right: 20px solid #f2f2f2;
    right: auto;
    left: -20px;
}

@media only screen and (max-width: 1200px) {
    .main-timeline .year {
        right: 30%;
    }

    .main-timeline .timeline:nth-child(2n) .year {
        left: 30%;
    }
}

@media only screen and (max-width: 990px) {
    .main-timeline .year {
        right: 25%;
    }

    .main-timeline .timeline:nth-child(2n) .year {
        left: 25%;
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        left: 10px;
    }

    .main-timeline .timeline {
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }

    .main-timeline .timeline:last-child {
        margin-bottom: 0;
    }

    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before {
        display: none;
    }

    .main-timeline .timeline-icon {
        margin: 0;
        position: absolute;
        top: 7px;
        left: 0;
    }

    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year {
        display: block;
        font-weight: bold;
        margin: 0 0 32px 30px;
        z-index: 1;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
    }

    .main-timeline .timeline:nth-child(2n) .year:before {
        border-left: none;
        border-right: 18px solid #737ab4;
        right: auto;
        left: -18px;
    }

    .main-timeline .timeline-content {
        padding: 20px;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: auto;
        float: none;
        margin: 0 0 0 30px;
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after {
        border: none;
        border-bottom: 20px solid #f2f2f2;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: -20px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 480px) {
    .main-timeline .title {
        float: none;
        margin: 0;
    }

    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year {
        margin-left: 20px;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        margin-left: 10px;
    }

    .main-timeline .post {
        margin: 5px 0;
    }
}